@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'icones', sans-serif;
}

/* Cabeçalho */

header{
    background: #D5E8E7;
    padding: 20px 0;
}

.caixa{
    width: 350px;
    margin: 0 auto 0 auto;
    text-align: center;
}

h1 img{
    width: 70%;
}

/* Menu */

.faixa-cabecalho{
    height: 50px;
    width: 100vw;
    background-color: #abd6d6;
}

.cabecalho__menu i::before{
    content: "\e9bd";
    color: #15588D;
    font-size: 24px;
    position: absolute;
    left: 23px;
    top: 10px;
}

nav a{
    text-transform: uppercase;
    color: #1a75bb;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 0.5s all;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #abd6d6;
    width: 60vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: .75s;
    z-index: 1;
}

.menu-lateral--ativo{
    left: 0;
    transition: .75s;
}

.menu-lateral__link{
    height: 80px;
    color: #15588D;
    padding-left: 64px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.menu-lateral__link--ativo:active{
    color: #15588D;
    padding-left: 56px;
    border-left: 8px solid #15588D;
}

.menu-lateral__link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before{
    content: "\e900";
}

.menu-lateral__link--dashboard::before{
    content: "\e9a6";
}

.menu-lateral__link--faturas::before{
    content: "\e937";
}

.menu-lateral__link--previsoes::before{
    content: "\e985";
}

.menu-lateral__link--suporte::before{
    content: "\e910";
}

.menu-lateral__link--sair::before{
    content: "\ea14";
}

/* Corpo */

main{
    background: #D5E8E7;
}

.caixa-main{
    margin: 0 auto 0 auto;
    width: 350px;
}

.container{
    width: 350px;
    margin: 0 auto 0 auto;
}

.container-bar{
    position: relative;
    margin: auto;
    width: 100%;
    height: 200px;
}

.container-line1{
    position: relative;
    margin: auto;
    width: 100%;
    height: 200px;
}

.container-line2{
    position: relative;
    margin: auto;
    width: 100%;
    height: 200px;
}

.container-doughnut{
    position: relative;
    margin: auto;
    width: 100%;
}

canvas{
    border: 1px solid gainsboro;
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Rodapé */

footer{
    text-align: center;
    background: #D5E8E7;
}

.copyright{
    color: #000000;
    font-size: 13px;
    padding: 30px 0 10px 0;
}