*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */

header{
    background: #D5E8E7;
    padding: 20px 0;
    height: 40vh;
}

.caixa{
    width: 350px;
    margin: 0 auto 0 auto;
    text-align: center;
}

h1 img{
    width: 70%;
}

nav{
    margin-bottom: 30px;
}

nav li{
    display: block;
    margin: 20px 0 0 0;
}

nav a{
    text-transform: uppercase;
    color: #1a75bb;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 0.5s all;
}

nav a:hover{
    color: #15588D;
    text-decoration: underline;
}

/* Corpo */

main{
    background: #D5E8E7;
    height: 50vh;
}

.caixa-main{
    margin: 0 auto 0 auto;
    width: 350px;
    
}

.input-image{
    display: none;
}

.output-text{
    resize: none;
    display: inline;
    width: 100%;
    min-height: 100px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnAdcImagens{
    margin: 10px 0 0 15px;
    width: 90%;
    padding: 10px 0;
    background: #1089B8;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.btnAdcImagens:hover{
    background: #1089B8;
    transform: scale(1.01);
}

.preview{
    display: inline;
    width: 100%;
    text-align: center;
}

.barraProgresso{
    transition: width;
    width: 0;
    height: 20px;
    background-color: green;
}

/* Rodapé */

footer{
    text-align: center;
    background: #D5E8E7;
    height: 10vh;
}

.copyright{
    color: #000000;
    font-size: 13px;
    padding: 50px 0 10px 0;
}