*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */

header{
    background: #D5E8E7;
    padding: 20px 0;
}

.caixa{
    width: 350px;
    margin: 0 auto 0 auto;
    text-align: center;
}

h1 img{
    width: 70%;
}

nav{
    margin-bottom: 40px;
}

nav li{
    display: block;
    margin: 20px 0 0 0;
}

nav a{
    text-transform: uppercase;
    color: #1a75bb;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 0.5s all;
}

nav a:hover{
    color: #15588D;
    text-decoration: underline;
}

/* Corpo */

main{
    background: linear-gradient(#D5E8E7, #6A9AA7);
}

.caixa-main{
    margin: 0 auto 0 auto;
    width: 350px;
}
/* Rodapé */

footer{
    text-align: center;
    background: #6A9AA7;
    padding: 100px 0 40px;
}

.copyright{
    color: #000000;
    font-size: 13px;
    margin-top: 20px;
}